<h2>Search for an artist below</h2>
<form action="/search" method="POST">
    <input type="search" name="artistsearch">
    <button>sumbit</button>
</form>
<img src="https://i.scdn.co/image/7af4c101861c482e6fdd9f33f73d037f136afe36" alt="">